# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

bin/*
!bin/README.md
pkg/*
!pkg/README.md

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Files containing credentials or other sensitive information
run.sh

# Mocks are generated and not needed in version control
mocks

# Source from external packages
src/github.com
src/golang.org
src/gopkg.in
